<ng-container *ngIf="vm$ | async as vm">
  <header *transloco="let t">
    <nav>
      <div [routerLink]="['/']" class="logo-container mr-3">
        <img class="logo" src="./assets/img/logo.png" alt="Logo" />
        <h3 class="m-0">Dofaddicts</h3>
      </div>

      <!-- HARVEST -->
      <p-button
        icon="pi pi-home"
        [label]="t('header.harvest')"
        [text]="true"
        [routerLink]="['/', vm.lang]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      />

      <!-- EXCHANGE -->
      <p-button
        icon="pi pi-sort-alt"
        [text]="true"
        [routerLink]="['/', vm.lang, 'exchange']"
        routerLinkActive="active"
        [label]="t('header.exchange')"
      />

      @if (vm.isLoggedIn) {
        <p-button
          (click)="onLogout()"
          [text]="true"
          label="Log Out"
          icon="pi pi-sign-out"
        />
      } @else {
        <p-button
          [text]="true"
          label="Log In"
          [routerLink]="['/login']"
          [queryParams]="{ from: 'harvest' }"
          icon="pi pi-sign-in"
        />
      }
    </nav>
    <nav class="gap-3">
      <ng-container *ngIf="vm.email">
        <img
          class="avatar"
          [title]="vm.email"
          *ngIf="vm.picture; else emailAvatar"
          [src]="vm.picture"
          alt="User Picture"
        />
        <ng-template #emailAvatar>
          <div class="email-avatar">
            {{ vm.email.at(0) }}
          </div>
        </ng-template>

        <!-- PROFILE -->
        <p-button
          [text]="true"
          label="Profile"
          icon="pi pi-user"
          [routerLink]="['/', vm.lang, 'profile']"
        />
      </ng-container>

      <app-buy-me-coffee />

      <app-language-selector
        [currentLang]="selectedLanguage()"
        [languages]="vm.languages"
        (langChange)="onLangChange($event)"
      />
    </nav>
  </header>
  @if (store.loading$ | async) {
    <div class="absolute top-50 left-50">
      <p-progressSpinner styleClass="w-8rem h-8rem" />
    </div>
  }
</ng-container>
